root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = tab
tab_width = 4
max_line_length = 128
insert_final_newline = false

[*.java]
ij_java_wrap_long_lines = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_assignment = true

ij_java_doc_align_param_comments = true
ij_java_doc_align_exception_comments = true
ij_java_doc_add_blank_line_after_description = true
ij_java_doc_add_p_tag_on_empty_lines = true

ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_before_class_end = 1

ij_java_class_count_to_use_import_on_demand = 9
ij_java_names_count_to_use_import_on_demand = 9
ij_java_spaces_around_equality_operators = true
ij_java_packages_to_use_import_on_demand = unset

[*.{json, yml, yaml, xml, html}]
indent_size = 2
indent_style = space
